<div class="container">
<div class="d-flex justify-content-between align-items-center mb-3">
<h1>Proje Yönetimi</h1>
<%= link_to "Geri", advisor_projects_path, class: "btn btn-outline-secondary" %>
</div>

  <%= link_to "Proje Ekle", new_advisor_project_path, class: "btn btn-success mb-3" %>

  <% if @projects.any? %>
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Proje Başlığı</th>
          <th>Açıklama</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.title %></td>
            <td><%= project.description %></td>
            <td>
              <%= link_to "Düzenle", edit_advisor_project_path(project), class: "btn btn-warning btn-sm me-2" %>
              <%= link_to "Sil", advisor_project_path(project), method: :delete, data: { turbo_method: :delete }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Henüz proje eklenmemiş.</p>
  <% end %>
</div>
