<h2>Yeni Danışman Ekle</h2>

<%= form_with model: @advisor, url: admin_advisors_path, local: true do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <%= f.submit "Danışman Ekle", class: "btn btn-success" %>
<% end %>
